.btn{
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;

    &-primary{
        background-color: $color-primary;
        color: $color-white;

        &:hover{
            background-color: $color-primary-dark;
        }
    }
}

