header{
    padding: 1.25rem 0;
    position: relative;
    z-index: 2;
    .main-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img{
            max-width: 50px;
        }
    }
}